[user]
	name = Eduardo Bizarro
	email = edbizarro@gmail.com
	signingkey = 01BF08B3
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[github]
	user = edbizarro
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
