!------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%

rofi.line-margin: 20
rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:DA222222, argb:DA222222, argb:00222222
rofi.color-normal: argb:00000000, #e8e8e8, argb:00000000, argb:00000000, #E918D8
rofi.color-urgent: argb:00000000, #E918D8, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #E918D8, argb:00000000, argb:00000000, #e29a49
rofi.font: FantasqueSansMono Nerd Font Mono 14
rofi.eh: 2
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 7
rofi.width: 50
rofi.padding: 200
rofi.bw: 0
rofi.auto-select: false
rofi.fuzzy: true
rofi.scroll-method: 1
rofi.window-format: {t}

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.autohint:   0
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: true
URxvt*dynamicColors: on
URxvt.geometry: 90x20
URxvt.internalBorder: 30
URxvt.lineSpace: 1
URxvt.saveLines: 0
URxvt*termName: rxvt-256color
URxvt.transparent: false
URxvt.visualBell: false

! disable ctrl+shift binding
URxvt.iso14755:             false
URxvt.iso14755_52:          false

! Disable Perl extension
! If you do not use the Perl extension features, you can improve the security
! and speed by disabling Perl extensions completely.
URxvt.perl-ext:
URxvt.perl-ext-common:

!! Fonts
!! regular
URxvt.font: \            
              xft:FantasqueSansMono Nerd Font Mono:size=14, \
              xft:Iosevka Nerd Font:size=14, \
              xft:Hack Nerd Font Mono:size=14              
              
                      
URxvt.allow_bold:           false
URxvt*boldMode:             true

! Fix font space
URxvt*letterSpace:          0


! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         false

URxvt.foreground: #ffffff
URxvt.background: #0E0E0E

! special
*.foreground:   #a39e9b
*.background:   #2f1e2e
*.cursorColor:  #a39e9b

! black
*.color0:       #2f1e2e
*.color8:       #776e71

! red
*.color1:       #ef6155
*.color9:       #ef6155

! green
*.color2:       #48b685
*.color10:      #48b685

! yellow
*.color3:       #fec418
*.color11:      #fec418

! blue
*.color4:       #06b6ef
*.color12:      #06b6ef

! magenta
*.color5:       #815ba4
*.color13:      #815ba4

! cyan
*.color6:       #5bc4bf
*.color14:      #5bc4bf

! white
*.color7:       #a39e9b
*.color15:      #e7e9db
