!------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%

rofi.line-margin: 20
rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:DA222222, argb:DA222222, argb:00222222
rofi.color-normal: argb:00000000, #e8e8e8, argb:00000000, argb:00000000, #E918D8
rofi.color-urgent: argb:00000000, #E918D8, argb:00000000, argb:00000000, #e29a49
rofi.color-active: argb:00000000, #E918D8, argb:00000000, argb:00000000, #e29a49
rofi.font: TamzenForPowerline:antialias=true 14
rofi.eh: 2
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 7
rofi.width: 50
rofi.padding: 200
rofi.bw: 0
rofi.auto-select: false
rofi.fuzzy: true
rofi.scroll-method: 1
rofi.window-format: {t}

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.autohint:   1
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: true
URxvt*dynamicColors: on
URxvt.geometry: 90x20
URxvt.internalBorder: 30
URxvt.lineSpace: 1
URxvt.saveLines: 0
URxvt*termName: rxvt-unicode-256color
URxvt.transparent: false
URxvt.visualBell: false

! disable ctrl+shift binding
URxvt.iso14755:             false
URxvt.iso14755_52:          false

! Disable Perl extension
! If you do not use the Perl extension features, you can improve the security
! and speed by disabling Perl extensions completely.
URxvt.perl-ext:
URxvt.perl-ext-common:

!! Fonts
URxvt.font: xft: Iosevka Nerd Font:pixelsize=22
URxvt.boldFont: xft:Iosevka Nerd Font:bold:pixelsize=22

!URxvt.font: xft:TamzenForPowerline:pixelsize=22
!URxvt.boldFont: xft:TamzenForPowerline:bold:pixelsize=22

!URxvt.font:     -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-*
!URxvt.boldFont: -*-terminus-bold-*-*-*-20-*-*-*-*-*-iso10646-*

!Tamzen
!URxvt.font: -misc-tamzen-medium-r-normal--22-*-*-*-*-*-iso8859-1
!URxvt.boldFont: -misc-tamzen-bold-r-normal--22-*-*-*-*-*-iso8859-1

! Source Sans
!URxvt.font: xft:Source Code Pro:size=14
!URxvt.boldFont: xft:Source Code Pro:bold:size=14

URxvt.allow_bold:           false
URxvt*boldMode:             true
! Fix font space
URxvt*letterSpace:          -1


! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         false

URxvt.foreground: #ffffff
URxvt.scrollBar: false
URxvt.background: #0E0E0E
!URxvt.background: #201615
! Colorz

urxvt*color0: #200a04
urxvt*color1: #a04677
urxvt*color2: #a06f7c
urxvt*color3: #EFB169
urxvt*color4: #492da0
urxvt*color5: #685da0
urxvt*color6: #dfa05e
urxvt*color7: #a01c13
!urxvt*color8: #6B2F4F
urxvt*color8: #8F3F69
urxvt*color9: #6a45c8
urxvt*color10: #e8f3ef
urxvt*color11: #c8351a
urxvt*color12: #c89d9d
urxvt*color13: #a1cbdb
urxvt*color14: #c8867e
urxvt*color15: #9eabc8
